.pm-cal-gantt {
float: left;
-moz-border-radius: 15px;
border-radius: 15px;
background: #F7F7F7;
border: 1px solid #D7D7D7;
margin: 0 0 2em;
padding: 10px;
text-align: left;
width: 840px;
height: 680px;

}
.pm-control {
float: left;
-moz-border-radius: 15px;
border-radius: 15px;
background: #F7F7F7;
border: 1px solid #D7D7D7;
margin: 0  2em;
padding: 10px;
text-align: left;
width: 300px;
height: 680px;

}

.pm-float-clear {

clear: both;

}

#prefs fieldset label { display: block }
