<div id="tab-content" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/" >
<script language="javascript" type="text/javascript">
$(function() {
    //$('body').data('ws_plan_url', "${href.sqa('ws_plan')}");
    //loadTestCatalog(); 
});
</script>



<!--
<div id="catalogDiv">
		<input type="button" class="condBtn" id="ExecuteCase" value="Execute Test Case" />
		<input type="button" name="EndTest" class="EndCondBtn _endTestCase hidden" id="EndTestCase" value="End Test" />
</div>

<div id="_clear_"></div>
-->
      	
<div id="testPlanDiv" > 


</div>
<!--
<div class="EndCondBtn pflast hidden" >
<label for="EndTest">Click To End Test : </label>
<input type="button" name="EndTest" id="EndTestCase" class="EndCondBtn _endTestCase"  value="End Test" />
</div>
-->


</div>
