 <div id="tab-content" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/" >

<script type="text/javascript" language="javascript">
$(function() { setBrowserData(); });
</script>
 <form id="registerTest" method="post"  action="">
	  <input type="hidden" name="plan_id" value="${plan.id}" />	
	  <input id="te_browser" type="hidden" name="browser" value="Not Set" /> 
	  <input id="te_browserver" type="hidden"  name="browser_ver" value="Not Set" /> 
	  <input type="hidden" name="user_agent"  value="Not Set" /> 
	  <input type="hidden"  name="client_plfrm" value="Not Set" /> 
	  <input type="hidden" id="loginUser" name="tester_name" value="${user}" />
	  <input type="hidden" name="_comments" value="Comments NOT SET"  />
	  <input type="hidden" id="numOfTestSteps" name="stepCount" value=" ${steps.count}" />
	 
	  	
	  	<fieldset>
        <legend>Record Testing Conditions / Parameters</legend>	
			
		<xi:include href="inc_listCustomTicketFields.html" />	
		
			
		 <table>
		 	<tr>
				<td>
					<fieldset>
					 <legend>Testing Conditions</legend>
					  <textarea cols="85" rows="10" class="wikitext" name="_conditions" ></textarea>
					</fieldset>
				</td>
			</tr>
		 </table>
		 
		
		<input type="button" id="testConditionBtn" value="Set Test Conditions" />
    	</fieldset>
	</form>
</div>
