<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/"
      py:strip="">
      	
		
  <!-- ! Define matching rule for processing head tag -->    	
  <py:match path="head" once="true"><head>
    <title>SQA: ${select('title/text()')}</title>
    ${select("*[local-name() != 'title']")}
  </head></py:match>	
		
  <!-- ! Define matching rule for processing body tag -->	
   <py:match path="body" once="true" buffer="false">
   	<body>
	<div id="content" class="sqa">
		<h1>QA Testing</h1>
		<div id="tabs">
			<ul>
				<li>
				SQA Menu
					<ul>
						<li>
							<a href="${href.sqa('plan')}" >
								Test Plans
							</a>
						</li>
						<!--!
						<li>
							<a href="/${project.name}/sqa/case" >
								Test Cases
							</a>
						</li>
						-->
						<!-- !
						<li>
							<a href="${href.sqa('exec')}" >
								Execute 
							</a>
						</li>
						
						
						<li>
							<a href="${href.sqa('report')}" >
								Reports
							</a>
						</li>
						-->
						<li>
							<a href="${href.sqa('log')}" >
								View Test Log
							</a>
						</li>
						<!-- Add query to fix length issue
						<li>
							<U>Test Plan List</U>
							<li py:for="test in nav_plan">
								<a href="${href.sqa('plan', milestone=test.milestone)}"> ${test.milestone}</a>
								
							</li>
							
						</li>
						-->
						<!-- !
						<li>
							<a href="${href.sqa('metric')}" >
								Metrics
							</a>
						</li>
						-->
					</ul>
				</li>
			
			</ul>
		</div>
		<div id="tabcontent">
			<!-- Replace contents of body tag here-->
        	${select("*|text()")}
        	<br style="clear: right" />
      </div>
	</div>
	</body></py:match>

	<xi:include href="../layout.html" />
</html>
