<div id="tab-content" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/" >

<script type="text/javascript" language="javascript">
/*
$(function() {	
$("tr.hover").hover(
	function() {
		//-$(this).before($('<tr class="edit">	<td colspan="20"> <div id="edit_step_admin" class="floater testPlanLink "> Edit</div><div id="add_above_admin"  class="floater testPlanLink"> Add Above</div><div id="add_below_admin" class="floater testPlanLink"> Add Below</div><div id="delete_step_admin" class="floater testPlanLink"> Delete</div>	</td></tr>'));
		$('#adminHeader').show();
		$(this).append($('<td colspan="20" class="edit"> <div id="edit_step_admin" class="testPlanLink "> Edit</div><div id="add_above_admin"  class="testPlanLink"> Add Above</div><div id="add_below_admin" class="testPlanLink"> Add Below</div><div id="delete_step_admin" class="testPlanLink"> Delete</div>	</td>'));
		//$(this).$($('<td colspan="20" class="edit"> <div id="edit_step_admin" class="testPlanLink "> Edit</div><div id="add_above_admin"  class="testPlanLink"> Add Above</div><div id="add_below_admin" class="testPlanLink"> Add Below</div><div id="delete_step_admin" class="testPlanLink"> Delete</div>	</td>')).appendTo('.stepNum');
		
		//-$(this).append($('<tr class="edit">	<td colspan="20"> <div id="edit_step_admin" class="floater testPlanLink "> Edit</div><div id="add_above_admin"  class="floater testPlanLink"> Add Above</div><div id="add_below_admin" class="floater testPlanLink"> Add Below</div><div id="delete_step_admin" class="floater testPlanLink"> Delete</div>	</td></tr>'));
		//-$(this).append($('<table class="edit"><tr><td colspan="20"> <div id="edit_step_admin" class="floater testPlanLink "> Edit</div><div id="add_above_admin"  class="floater testPlanLink"> Add Above</div><div id="add_below_admin" class="floater testPlanLink"> Add Below</div><div id="delete_step_admin" class="floater testPlanLink"> Delete</div>	</td></tr></table>'));
	
		//+$(this).after($('<tr class="edit">	<td colspan="20"> <div id="edit_step_admin" class="floater testPlanLink "> Edit</div><div id="add_above_admin"  class="floater testPlanLink"> Add Above</div><div id="add_below_admin" class="floater testPlanLink"> Add Below</div><div id="delete_step_admin" class="floater testPlanLink"> Delete</div>	</td></tr>'));
		//+$(this).parent().find(".edit").remove();
		
	},
	function() {
		//$(this).parent().find(".edit").remove();
		$(this).find(".edit").remove();	
		$('#adminHeader').hide();
	}
)
});
*/
</script>

	<div id="testAdminDiv" > 
	
	
	</div>



</div>
