<div id="tab-content" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/" >
  <xi:include href="sqa_nav.html" />

	<div>
    <form  class="addnew" method="post" action="">
      <fieldset>
        <legend>Create Test Collection as (${user}):</legend>
       <div>
        <div>	
          <label for="gp_subject">Test Plan Name:</label>
          <input id="gp_subject" type="text" name="plan_name" /> 
		</div>
      		<div >
      			<div>
      				<label for="action">Milestone:</label>
					<select id="action" name="test_milestone">
            			<option py:for="action in ms_list" >${action.name}</option>
          			</select>
					
      			</div>
				<div>
				
					<label for="test_type">Type:</label>
					<select id="test_type" name="test_type">
            			<option py:for="type in types">${type}</option>
          			</select>
				</div>
      		</div>
			<div>
				<fieldset>
					<legend>Test Description:</legend>
		  	 		<textarea id="c_desc" cols="60" rows="8" name="c_desc_ta" class="wikitext"></textarea>
				</fieldset>
			</div>
		</div>		 
        <p class="help">
          Test plan
        </p>
        <div class="buttons">
          <input type="submit" name="sqa_control" value="${_('Add Test Case')}" />
        </div>
      </fieldset>
    </form>
	</div>
</div>