<div id="tab-content" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/" >

<script>
$(document).ready(function() {	
	
	
	$(".testPlanLink").click(function(){
		var testPlanId = $(this).attr('test_id');
		//alert("Clicked : " + testPlanId);
		$("#TestPlanDiv").hide();
		$.ajax({
			url: testPlanId,
			success: function(Response){
				$("#TestPlanDiv").html(Response);
			}
		})
		$("#TestPlanDiv").fadeIn(1500);
		$(".condBtn").show();	
	});
});

</script>


<table class="listing" >
	<tr> 
		<th>Test ID</th>
		<th>Test Case Name</th>
		<th>Test Case Description</th>
		<th>Test Case Type</th>
	</tr>
	<tr py:for="plan in plans" >
      	 <td id="planid_td">
			${plan.id}
		</td>
		<td> 
			<div class="testPlanLink" test_id="${href.sqa('ws_case', plan.id)}" > 
			${plan.plan_name} 
			</div>	
		</td> 
		<td>
			${plan.description}
		</td>
		<td>
			${plan.test_type}
		</td>
				
   </tr>
	
	
</table>
</div>